/* общие */
html {
    box-sizing: border-box;
    font-size: 1.5vw;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo a,
.list li a,
.footer_list a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.headers {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #A3CC40;

}

/* сетка */
.container {
    max-width: 42.5rem;
    margin: 0 auto;
}