@font-face {
    display: swap;
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Thin.ttf"),
        url("../fonts/IBMPlexSans-Thin.svg"),
        url("../fonts/IBMPlexSans-Thin.eot"),
        url("../fonts/IBMPlexSans-Thin.woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    display: swap;
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Regular.ttf"),
        url("../fonts/IBMPlexSans-Regular.eot"),
        url("../fonts/IBMPlexSans-Regular.svg"),
        url("../fonts/IBMPlexSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    display: swap;
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Medium.ttf"),
        url("../fonts/IBMPlexSans-Medium.eot"),
        url("../fonts/IBMPlexSans-Medium.svg"),
        url("../fonts/IBMPlexSans-Medium.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    display: swap;
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-SemiBold.ttf"),
        url("../fonts/IBMPlexSans-SemiBold.eot"),
        url("../fonts/IBMPlexSans-SemiBold.svg"),
        url("../fonts/IBMPlexSans-SemiBold.woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    display: swap;
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Bold.ttf"),
        url("../fonts/IBMPlexSans-Bold.eot"),
        url("../fonts/IBMPlexSans-Bold.svg"),
        url("../fonts/IBMPlexSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

/* Header */
.header {
    min-height: 100vh;
    background: url(../images/first_page.jpg) no-repeat center / cover;
    overflow: hidden;
    position: relative;
}

.header__container {
    max-width: 47rem;
    margin: 0 auto;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 5rem solid transparent;
    border-right: 100vw solid #fff;
}

.header_block {
    margin-top: 2.25rem;
    height: 2.5rem;
    display: flex;
}

.list {
    margin-left: 2.25rem;
}

.list li {
    display: inline-block;
}

.list_li {
    margin-right: 2.5rem;
}

.list1 li:last-child,
.list2 li:last-child {
    margin-right: 0;
}

.list2 li {
    margin-right: 3.5rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
    transition: .3s;
}

.underline {
    border-bottom: 0.05rem solid;
}

.underline:hover {
    color: #A3CC40;
    cursor: pointer;
}

.list2 li a:hover,
.tel:hover {
    text-decoration-line: underline;
    color: #A3CC40;
    cursor: pointer;
}

.list_white {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.3;
}

.lang {
    position: relative;
}

.lang span {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.3;
    color: #FFFFFF;
    display: inline-block;
}

.lang svg {
    fill: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.1rem;
}

.lang_list {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: none;
}

.lang_trigger {
    padding-left: 0.7rem;
    padding-bottom: 0.15rem;
    display: block;
}

.lang_list ul {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.6rem;
    background: rgba(0, 0, 0, 8);
}

.lang_trigger:hover span {
    color: #A3CC40;
}

.lang_trigger:hover svg {
    fill: #A3CC40;
}

.lang_list li {
    padding: 0.2rem 0.8rem;
}

.lang_list li a:hover {
    color: #A3CC40;
}

.dropdown_opened .lang_trigger svg {
    transform: rotate(180deg);
}

.dropdown_opened .lang_list {
    display: block;
}

/* rgba(0, 0, 0, 8) */
.call {
    font-family: IBM Plex Sans;
    background: #FFFFFF;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.4;
    color: #333333;
    border: 0.1rem solid #000000;
    display: flex;
    align-items: center;
    transition: .2s;
}

.call:hover {
    color: #FFFFFF;
    background: #A3CC40;
    border: 0.1rem solid #EAEDE2;
}

.call svg {
    padding-right: 0.5rem;
    box-sizing: content-box;
    transition: .2s;
}

.call:hover svg {
    fill: #FFFFFF;
}

.header2 {
    text-align: center;
    color: #FFFFFF;
    margin-top: 8.5rem;
}

.header2_large {
    font-weight: 100;
    font-size: 3.4rem;
    line-height: 1.2;
    font-style: normal;
}

.header2_small {
    font-size: 2.05rem;
    line-height: 1.2;
    margin-top: 1.25rem;
}

/* block welcome */
.welcome {
    width: 21.3rem;
    height: 11.05rem;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 1.35rem 1.95rem rgba(163, 204, 64, 0.18);
    border-radius: 0.5rem;
    bottom: -5rem;
    right: 4rem;
}

.welcome_h2 {
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 1.3;
    color: #333333;
    margin: 2rem 2rem 1rem 2rem;
}

.welcome_text1,
.welcome_text2 {
    width: 16.25rem;
    font-size: 0.55rem;
    line-height: 1.2;
    color: #333333;
    margin-left: 2rem;
}

.welcome_text2 {
    margin-top: 1.05rem;
}

/* why-we */
#why-we {
    margin-top: 2.5rem;
    min-height: 42.5rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4.9rem;
}

.card_img {
    width: 12.5rem;

}

.card_header {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    color: #333333;
    margin-top: 1.65rem;
}

.card_desk,
.card_all {
    width: 12.5rem;
    display: inline-block;
    text-align: center;
}

.card4,
.card5,
.card6 {
    margin-top: 3rem;
}

.card_desk {
    font-size: 0.55rem;
    line-height: 1.2;
    color: #333333;
    margin-top: 1.65rem;
}

.card_big {
    width: 12.25rem;
    height: 8.5rem;
    border-radius: 0.35rem;
    transition: .3s;
}

.card_big:hover {
    transform: scale(1.07);
    cursor: pointer;
}

/*table*/
#film-selection {
    margin-top: 9.25rem;
    min-height: 21.25rem;
}

.container-table {
    width: 42.5rem;
    margin: 0 auto;
}

.table {
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4.75rem;
    width: 42.5rem;
    table-layout: fixed;
}

.table_size_s,
.table_size_m {
    background: #A3CC40;

}

.table_size_m a {
    text-decoration: none;
}

.table_size_s {
    width: 3.75rem;
    text-align: center;
}

.svg_green {
    fill: #FFFFFF;
}

.svg_green:hover {
    fill: #A3CC40;
}

.table_size_m {
    text-align: left;
    /* height: 0.6rem; */
}

.table__button {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    color: white;
    border: none;
    background-color: #A3CC40;
    cursor: pointer;
    padding: 0.4rem 0;
    margin: 0.2rem;
}

.table__button:active {
    outline: none;
    color: grey;
}

.table__button:focus {
    outline: none;
}

.button_arrow::after {
    content: "▲";
    display: inline-block;
    font-size: 0.45rem;
    vertical-align: middle;
    margin-left: 0.25rem;
}

.button_arrow:active::after {
    transform: rotate(180deg);
    transition: .3s;
}

.table td {
    background: #373737;
    padding: 0.6rem 0 0.6rem 0;
    color: white;
    font-size: 0.7rem;
    line-height: 1.2;
}

.table td a {
    color: white;
    font-size: 0.7rem;
}

.table tr:nth-child(2n) td {
    background: #4C4D4F;
}

.div_description {
    font-size: 0.55rem;
    line-height: 1.2;
    text-align: center;
    padding-top: 1.5rem;
}

/* gift */
.gift_block {
    margin-top: 5.5rem;
    min-height: 30rem;
}

.gift {
    background: url(../images/cassettes2.jpg) no-repeat center / cover;
    min-height: 35rem;
    position: relative;
    overflow: hidden;
}

.gift::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 6.95rem solid transparent;
    border-right: 100vw solid #fff;
}

.gift::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 6.98rem solid transparent;
    border-left: 100vw solid #fff;
}

.gift_img img {
    width: 13.75rem;
    height: 13.75rem;
}

.gift_img {
    position: absolute;
    left: 5.75rem;
    /* bottom: 22.7rem; */
    border-radius: 100%;
    overflow: hidden;
}

.gift_desk {
    position: absolute;
    top: 6.5rem;
    right: 6.75rem;
    width: 26.75rem;
}

.desk1,
.desk2,
.desk3 {
    font-size: 0.55rem;
    line-height: 0.7rem;
    text-align: right;
    color: #FFFFFF;
}

.desk1 {
    margin-top: 2.75rem;
}

.desk2,
.desk3 {
    margin-top: 1rem;
}

.gift_h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    text-align: right;
    color: #FFFFFF;
}

.gift_button {
    width: 9.5rem;
    position: absolute;
    top: 22.25rem;
    right: 6.75rem;
}

.button__size {
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A3CC40;
    border-radius: 0.3rem;
    width: 9.5rem;
    padding: 0.25rem 0.85rem 0.25rem 0.85rem;
    border: none;
}

.button__size:active {
    box-shadow: 0 0.1rem 0.45rem rgba(144, 210, 61, 0.3);
    border-radius: 0.3rem;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.2;
    color: #A3CC40;
    border: 0.05rem solid rgba(163, 204, 64, 0.62);
}

/* table films-mosaic */
.block06 {
    margin-top: 3.5rem;
    min-height: 51.25rem;
}

.block06_table {
    margin-top: 3.25rem;
}

.headers_desc {
    margin-top: 2rem;
    width: 27rem;
    font-size: 0.55rem;
    line-height: 1.2;
    color: #333333;
}

.film_pic {
    position: relative;
    overflow: hidden;
}

.film_pic img {
    width: 14.2rem;
    height: 14.3rem;
}

.films_block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    color: #fff;
    background: rgba(144, 210, 61, 0.4);
    height: 100%;
    width: 100%;

}

.film_pic:hover .films_block {
    display: block;
}

.film_shadow {
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.film_shadow:hover {
    background: none;
}


.film_name {
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.film_desc {
    font-size: 0.55rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 11.85rem;
    height: 5.25rem;
    margin-top: 1rem;
}

/* sponsors */
#sponsors {
    margin-top: 5.25rem;
    min-height: 25rem;
}

.block07_desk {
    margin-top: 2rem;
    width: 27rem;
    font-size: 0.55rem;
    line-height: 1.2;
    color: #333333;
}

.goods {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.goods_block1 {
    background: url(../images/coca-cola.jpg) no-repeat center / cover;
}

.goods_block2 {
    background: url(../images/trinket.jpg) no-repeat center / cover;
}

.goods_block3 {
    background: url(../images/poster.jpg) no-repeat center / cover;
}

.goods_block3,
.goods_block2,
.goods_block1 {
    width: 12.25rem;
    height: 16.25rem;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.goods__position {
    background: rgba(163, 204, 64, 0.8);
    height: 4.5rem;
}

.goods__position__one,
.goods__position__three,
.goods__position__two {
    position: absolute;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

.goods__position__one {
    padding: 2.05rem 3.8rem;
    bottom: 0;
}

.goods__position__three {
    padding: 0.8rem 1.5rem;
    bottom: 0;
}

.goods__position__two {
    padding: 1.9rem 1.5rem;
    bottom: 0;
}

.goods_coca-cola,
.goods_men,
.goods_poster {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.goods_coca-cola::before,
.goods_men::before,
.goods_poster::before {
    content: "";
    border-top: 3.5rem solid transparent;
    border-right: 12.25rem solid rgba(163, 204, 64, 0.8);
}

.goods_block1:hover,
.goods_block2:hover,
.goods_block3:hover {
    transform: scale(1.08);
}

/* past events */
#past-events {
    margin-top: 2.5rem;
    background: url(/images/cassettes1.jpg) no-repeat center / cover;
    position: relative;
    min-height: 40rem;
    overflow: hidden;
}

#past-events::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 3.75rem solid transparent;
    border-right: 100vw solid #fff;
}

#past-events::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 3.75rem solid transparent;
    border-left: 100vw solid #fff;
}

.column {
    display: flex;
    flex-direction: column;
}

.events_headers {
    z-index: 2;
    margin-top: 7.5rem;
}

.headers_p__size {
    font-size: 0.55rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 27rem;
    height: 1.25rem;
    margin-top: 2rem;
}

.events_block {
    display: flex;
    justify-content: space-between;
    margin-top: 3.75rem;
    align-items: center;
}

.events {
    width: 12.25rem;
    height: 16.5rem;
    background: #97B13C;
    border-radius: 0.5rem;

}

.events_block1,
.events_block3 {
    width: 10rem;
    height: 14.25rem;
}

.event1,
.event3 {
    width: 10rem;
    height: 7.5rem;
    border-radius: 0.35rem 0.35rem 0 0;
}

.event2 {
    width: 12.25rem;
    height: 8.75rem;
    border-radius: 0.35rem 0.35rem 0 0;
}

.event2_head {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 1.15rem 0.75rem 0 0.75rem;
}

.event2_blockquote {
    font-size: 0.55rem;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 1.25rem 0.75rem 2.5rem 0.75rem;
}

.event1_head,
.event3_head {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 0.5rem 0.75rem 0 0.75rem;
}

.event1_blockquote,
.event3_blockquote {
    font-size: 0.5rem;
    line-height: 1.2;
    color: #FFFFFF;
    padding: 0.5rem 0.75rem 0 0.75rem;
}


/* form */
.container_block09 {
    max-width: 38.5rem;
    box-shadow: 0.4rem 0.45rem 1.95rem rgba(185, 185, 185, 0.37);
    border-radius: 1rem;
    margin: 0 8.7rem 0 8.7rem;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.block09 {
    margin-top: 4rem;
}

.block_pic01 {
    background: url(/images/forbacground.jpg) no-repeat center / cover;
    height: 25rem;
    width: 18rem;
    position: relative;
}

.block_pic02 {
    background: url(/images/gradient.png) no-repeat center / cover;
    filter: alpha(Opacity=1);
    opacity: 1;
    height: 25rem;
    width: 18rem;
    position: absolute;
    left: 1.7rem;
}

.form_feedback {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #A3CC40;
    padding: 2rem 5.9rem 1.35rem 4.4rem;
}

.block_form {
    padding-left: 0.75rem;
    z-index: 1;
}

.form input[type="text"],
.form textarea,
.form select {

    background: #DEDEDE;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    padding: 0 0 0 0.75rem;
    border: 0.05rem solid #bebebe;
    width: 17.25rem;
    height: 2rem;
    outline: 0;
}

.form select,
.form textarea {
    margin-top: 1.75rem;
}

.form textarea {
    height: 5rem;
    resize: none;
    padding: 0.8rem 0 0 0.75rem;
}

.form input[type="text"]::placeholder,
.form textarea::placeholder {
    color: #A1A1A1;
}

.form select {
    color: #A1A1A1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../svg/arrow_down.svg) 96% center / 5% no-repeat #DEDEDE;
}

.input_checkbox {
    margin-top: 1.25rem;
}

.check {
    font-size: 0.5rem;
    line-height: 1.2;
    color: #333333;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.3rem;
}

.checkbox {
    width: 0.9rem;
    height: 0.9rem;
    /* appearance: none; */
    /* border: 1px solid #A3CC40; */
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0 #A3CC40 inset;
}

.button_form [type="submit"] {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 17.2rem;
    background: #A3CC40;
    border-radius: 0.3rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1.95rem;
    border: 0;
    transition: .2s;
}

.button_form [type="submit"]:active {
    background: #FFFFFF;
    color: #A3CC40;
    border: 0.05rem solid rgba(163, 204, 64, 0.62);
    box-shadow: 0 0.1rem 0.45rem rgba(144, 210, 61, 0.3);
}

/* map */
.block10 {
    margin-top: 3.25rem;
}

.block10_map {
    overflow: hidden;
    min-height: 20rem;
}

.map {
    width: 48rem;
    height: 20rem;
}

/* footer */
#contact {
    background: #A3CC40;
    height: 17rem;
}

.columns {
    /* скорректировать */
    padding-top: 4.4rem;
    display: flex;
}

.column1 {
    margin-left: 3.5rem;
    width: 21.75rem;
    margin-right: 2.5rem;
}

.column2 {
    width: 10.35rem;
    margin-right: 1.75rem;
}

.column2 .head_li {
    padding-left: 0.5rem;
}

.footer_desc {
    font-size: 0.7rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 13.25rem;
    height: 3.5rem;
    margin-top: 1.25rem;
}

.icons {
    margin-top: 1.25rem;
    flex-direction: row;
    display: flex;
}

.icon {
    background: #BEE956;
    border-radius: 100%;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
}

.icon:hover {
    box-shadow: 0.35rem 0.2rem 0.5rem #4C4D4F;
}

.white {
    margin: auto;
    fill: white;
}

.icon:hover .white {
    fill: #4C4D4F;
}

.copyright {
    font-size: 0.75rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 21.8rem;
    height: 1.95rem;
    margin-top: 1.5rem;
}

.head_li {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
    color: #FFFFFF;
}

.footer_list_uppercase li {
    text-transform: uppercase;
}

.footer_list {
    margin-top: 1.5rem;
}

.footer_list li {
    padding-bottom: 0.5rem;
}

.footer_list_uppercase li a {
    padding-left: 0.5rem;
}

.footer_list_uppercase a:hover {
    padding: 0.5rem;
    background: #DCDCDC;
    font-weight: 500;
    font-size: 0.6rem;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 0;
}

.city {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.2;
    color: #FFFFFF;
    width: 9.45rem;
}